
.meetCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 98%;
    gap:10px;
    font-weight: 800;

}
.meetContentCard{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap:10px;
    overflow-y: scroll;
}
.newMeet{
    position:relative;
    top: 400px;
}

.meetCardHeader span{
font-weight: 600;
font-size: 25px;
}
