
.FamiliCardContent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: fit-content;
    height: auto;
    margin: 0px auto;  
    
}


.CardHeaderDisplayFamily{
   
    letter-spacing: 1px;
    line-height: 1.5;  
    font-weight: 900;
}


