.header{
    background-color:rgb(7, 150, 151);
    border: solid 1px black;
    min-height: fit-content;
    height: 50px;
    width: 100%;
  /*   position: relative; */
    top: 0;
    left: 0;
    

}
.logo{
    background-image:url('../../assets/img/logoheaader.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    width:50px;
    height: 50px;
    margin-left: 15px;
}