.header{
    background-color: rgb(4, 108, 149);
    border: solid 1px black;
     min-height: fit-content;
     height: 5%;
    width: 100%;
    display: absolute;
    position: fixed;
    top: 0;
    left: 0;

}